/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@charset 'UTF-8';

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px; // 60px to make the container go all the way to the bottom of the topbar
}

.revisions {
  list-style-type: none;
  padding-left: 0;
}

.revisions li .time {
  color: #bbb;
  font-size: 12px;
}

.revisions li .title {
  font-size: 14px;
  font-weight: bold;
}

.all-revisions a {
  font-weight: bold;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.revisions li:last-child {
  padding-bottom: 15px;
}

.changeset {
  list-style-type: none;
  padding-left: 25px;
}

.changeset li .key {
  float: left;
  width: 130px;
}

.changeset li .from {
  float: left;
  padding-right: 10px;
  width: 170px;
  word-wrap: break-word;
}

.changeset li .to {
  padding-right: 10px;
  width: 170px;
  word-wrap: break-word;
}
