.ui-autocomplete {
  background: #f3f3f3;
  border: 1px solid #cfcfcf;
  border-radius: 0 0 4px 4px;  // Same border radius as input[type="search"]
  border-top: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  display: block;
  left: 0;
  list-style: none;
  margin: 0;
  margin-top: -1px;  // Move up to cover the bottom box shadow of the input field
  outline: none;
  position: absolute;
}

.ui-autocomplete .ui-menu-item {
  position: relative;
  border-top: 1px solid #cfcfcf;
}

.ui-autocomplete a {
  display: block;
  color: black !important;
  padding: 10px 15px 10px 10px;
}

.ui-autocomplete a:hover {
  text-decoration: none !important;
}

.ui-autocomplete h2 {
  font-weight: bold;
}

.ui-autocomplete p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-autocomplete .ui-state-focus {
  background: #c2e4f1;
}
