<address>
  <strong><%= [@redirection.from_encyclopedia_id, @redirection.permalink].compact.join(" - ") %></strong><br>
  <%= [@redirection.to_encyclopedia_id, @redirection.to_permalink].compact.join(" - ") %><br>
</address>

<div class='row'>
  <div class='span2'>
    <%= link_to t('edit'), edit_redirection_path(@redirection), class: 'btn btn-primary' %>
  </div>
</div>